<!DOCTYPE html>
<html ng-app="servoyApp" ng-controller="MainController">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<link rel="icon" href="favicon32x32.png" sizes="32x32" type="image/png"/>
		<link rel="icon" href="favicon192x192.png" sizes="192x192" type="image/png"/>
		<title ng-bind="solutionSettings.solutionTitle"></title>
	
		<!-- component_contributions -->
		<link ng-repeat="path in solutionSettings.styleSheetPaths" rel="stylesheet" ng-href='{{path}}'>
		<script type="text/javascript">
			var isOldBrowser = function(){
				// code from http://www.javascripter.net/faq/browsern.htm
				var nVer = navigator.appVersion;
				var nAgt = navigator.userAgent;
				var browserName  = navigator.appName;
				var fullVersion  = ''+parseFloat(navigator.appVersion); 
				var majorVersion = parseInt(navigator.appVersion,10);
				var nameOffset,verOffset,ix;
		
				// In Opera 15+, the true version is after "OPR/" 
				if ((verOffset=nAgt.indexOf("OPR/"))!=-1) {
					browserName = "Opera";
					fullVersion = nAgt.substring(verOffset+4);
				}
				// In older Opera, the true version is after "Opera" or after "Version"
				else if ((verOffset=nAgt.indexOf("Opera"))!=-1) {
					browserName = "Opera";
					fullVersion = nAgt.substring(verOffset+6);
					if ((verOffset=nAgt.indexOf("Version"))!=-1) 
						fullVersion = nAgt.substring(verOffset+8);
				}
				// In MSIE, the true version is after "MSIE" in userAgent
				else if ((verOffset=nAgt.indexOf("MSIE"))!=-1) {
					browserName = "Microsoft Internet Explorer";
					fullVersion = nAgt.substring(verOffset+5);
				}
				// In Chrome, the true version is after "Chrome" 
				else if ((verOffset=nAgt.indexOf("Chrome"))!=-1) {
					browserName = "Chrome";
					fullVersion = nAgt.substring(verOffset+7);
				}
				// In Safari, the true version is after "Safari" or after "Version" 
				else if ((verOffset=nAgt.indexOf("Safari"))!=-1) {
					browserName = "Safari";
					fullVersion = nAgt.substring(verOffset+7);
					if ((verOffset=nAgt.indexOf("Version"))!=-1) 
						fullVersion = nAgt.substring(verOffset+8);
				}
				// In Firefox, the true version is after "Firefox" 
				else if ((verOffset=nAgt.indexOf("Firefox"))!=-1) {
					browserName = "Firefox";
					fullVersion = nAgt.substring(verOffset+8);
				}
				// In most other browsers, "name/version" is at the end of userAgent 
				else if ( (nameOffset=nAgt.lastIndexOf(' ')+1) < 
						(verOffset=nAgt.lastIndexOf('/')) ) 
				{
					browserName = nAgt.substring(nameOffset,verOffset);
					fullVersion = nAgt.substring(verOffset+1);
					if (browserName.toLowerCase()==browserName.toUpperCase()) {
						browserName = navigator.appName;
					}
				}
				// trim the fullVersion string at semicolon/space if present
				if ((ix=fullVersion.indexOf(";"))!=-1)
					fullVersion=fullVersion.substring(0,ix);
				if ((ix=fullVersion.indexOf(" "))!=-1)
					fullVersion=fullVersion.substring(0,ix);
		
				majorVersion = parseInt(''+fullVersion,10);
				if (isNaN(majorVersion)) {
					fullVersion  = ''+parseFloat(navigator.appVersion); 
					majorVersion = parseInt(navigator.appVersion,10);
				}
				
				if (browserName == "Microsoft Internet Explorer" && majorVersion <= 9)
				{
					return true;
				}	
				if (browserName == "Opera" && majorVersion <= 11)
				{
					return true;
				}
				if (browserName == "Chrome" && majorVersion <= 15)
				{
					return true;
				}
				if (browserName == "Firefox" && majorVersion <= 10)
				{
					return true;
				}
				if (browserName == "Safari" && majorVersion <= 6)
				{
					return true;
				}
				return false;
			}
			if (isOldBrowser())
			{
				window.location = 'templates/notSupportedBrowser.html';
			}	
			angular.module('servoyApp').run(function($solutionSettings, $svyI18NService){
					var orientation = ##orientation##;
					if (orientation == 2)
					{
						$solutionSettings.ltrOrientation = false;
					}
					else if (orientation == 3)
					{
						language = window.navigator.language?window.navigator.language:window.navigator.browserLanguage;
						language = language.split('-')[0];
						if (language == 'iw' || language == 'ar' ||language == 'fa' ||language == 'ur')
						{
							$solutionSettings.ltrOrientation = false;
						}
						else
						{
							$solutionSettings.ltrOrientation = true;
						}
					}
					else
					{
						$solutionSettings.ltrOrientation = true;
					}
	            
	            // inject default tranlations
	            $svyI18NService.addDefaultTranslations(##defaultTranslations##);
			});
			window.servoy_remoteaddr = '##ipaddr##'
			window.servoy_remotehost = '##hostaddr##'
			window.servoy_remoteUTCOffset = ##utcoffset##
		</script>
	</head>
	
	<body dir="{{solutionSettings.ltrOrientation ? 'ltr' : 'rtl'}}" sablo-tabseq="1" sablo-tabseq-config="{root: true}">
	
	     <div sablo-reconnecting-feedback class="svy-reconnecting ng-cloak" >{{'servoy.ngclient.reconnecting' | translate}}</div>
	
		<div ng-if='!getSessionProblemView()' id="mainForm" sablo-tabseq='1' sablo-tabseq-config="{container: true}">
			<div class="svy-main-window-navigator-container" ng-if="solutionSettings.navigatorForm.name" ng-style="getNavigatorStyle(solutionSettings.ltrOrientation)"
				ng-include="getNavigatorFormUrl()"></div>
			<div class="svy-main-window-container" svy-autosave ng-include="getMainFormUrl()" ng-style="getFormStyle(solutionSettings.ltrOrientation)"></div>
			<div hiddendiv="true" sablo-tabseq='-2' ng-include="updatingFormUrl" style="position:absolute;visibility:hidden;"></div>
		</div>
		<div ng-if='getSessionProblemView()' ng-include='getSessionProblemView()'>		  
		</div>
	</body>
</html>
