<!DOCTYPE html>
<html ng-app="servoyApp" ng-controller="MainController">
	<head>
		<base href="##contextPath##">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<!-- content_security_policy -->
		
		<link rel="icon" href="favicon32x32.png" sizes="32x32" type="image/png"/>
		<link rel="icon" href="favicon192x192.png" sizes="192x192" type="image/png"/>
		<title ng-bind="solutionSettings.solutionTitle">##solutionTitle##</title>
		<script src="solutions/##solution##/##clientnr##/main/setmodule.js"></script>
		<!-- component_contributions -->
		<link ng-repeat="path in solutionSettings.styleSheetPaths" rel="stylesheet" ng-href='{{path}}'>
		<script src="solutions/##solution##/##clientnr##/main/browsercheck.js"></script>
		<script src="solutions/##solution##/##clientnr##/main/startup.js"></script>
	</head>
	
	<body dir="{{solutionSettings.ltrOrientation ? 'ltr' : 'rtl'}}" sablo-tabseq="1" sablo-tabseq-config="{root: true}">
	
		<div sablo-reconnecting-feedback class="svy-reconnecting ng-cloak" >{{'servoy.ngclient.reconnecting' | translate}}</div>
	
		<div ng-if='!getSessionProblemView()' id="mainForm" sablo-tabseq='1' sablo-tabseq-config="{container: true}">
			<div class="svy-main-window-navigator-container" ng-if="solutionSettings.navigatorForm.name" ng-style="getNavigatorStyle(solutionSettings.ltrOrientation)"
				ng-include="getNavigatorFormUrl()"></div>
			<div class="svy-main-window-container" autoscroll="true" svy-autosave ng-include="getMainFormUrl()" ng-style="getFormStyle(solutionSettings.ltrOrientation)"></div>
			<div hiddendiv="true" sablo-tabseq='-2' ng-include="updatingFormUrl" style="position:absolute;visibility:hidden;"></div>
		</div>
		<div ng-if='getSessionProblemView()' ng-include='getSessionProblemView()'></div>

		<div ng-if="getMainFormUrl() == ''" class="fill-up-space-initially"></div>
		<servoycore-default-loading-indicator ng-if="shouldShowDefaultLoadingIndicator()"></servoycore-default-loading-indicator>
	</body>
</html>
