.treeview {
	width: 100%;
	height: 100%
}
.treeview ul.fancytree-container {
	min-height: 100%;
}

.treeview .fancytree-container.fancytree-treefocus span.fancytree-focused span.fancytree-title {
  border-color: #3399ff;
}

.treeview span.fancytree-active span.fancytree-title {
  background-color: transparent;
  border-color: transparent;
}

.treeview span.fancytree-selected span.fancytree-title {
  background-color: #3399ff;
}

/*
.treeview span.fancytree-node:hover span.fancytree-title {
  background-color: transparent;
  border-color: transparent;
}
*/

.treeview .fancytree-container.fancytree-treefocus span.fancytree-active span.fancytree-title {
  background-color: transparent;
  border-color: transparent;
}

.treeview .fancytree-container.fancytree-treefocus span.fancytree-selected span.fancytree-title {
  background-color: #3399ff;
}