<input style="width:100%;height:100%;overflow:hidden" 
	   svy-focusgained='handlers.onFocusGainedMethodID($event)'
	   svy-focuslost='handlers.onFocusLostMethodID($event)'
	   svy-enter='handlers.onActionMethodID($event)'
	   ng-click="onClick($event)"
	   svy-rightclick='handlers.onRightClickMethodID($event)'
	   class='svy-password form-control input-sm svy-padding-xs'
	   type="password"
	   placeholder="{{model.placeholderText}}"
	   sablo-tabseq='model.tabSeq' 
       ng-model="model.dataProviderID"  
       svy-autoapply id="{{::model.svyMarkupId}}"/>
       
