<div class='svy-spinner'>
	<div class="input-append">
    <input type="text" class="spinner-input form-control input-sm svy-padding-xs" 
    	   ng-model="selection" 
    	   readonly
		   id="{{::model.svyMarkupId}}" 
		   sablo-tabseq='model.tabSeq'
		   svy-click='handlers.onActionMethodID($event)'
     	   svy-focusgained='handlers.onFocusGainedMethodID($event)'
     	   svy-focuslost='handlers.onFocusLostMethodID($event)'>
    <div class="spinner-buttons">
      <button tabindex='-1' ng-click="increment()" svy-click='handlers.onActionMethodID($event)' svy-focusgained='handlers.onFocusGainedMethodID($event)' svy-focuslost='handlers.onFocusLostMethodID($event)' ng-disabled="isDisabled()" class="btn btn-default spinner-button-up" type="button">
        <i class="glyphicon glyphicon-chevron-up"></i></button>
      <button tabindex='-1' ng-click="decrement()" svy-click='handlers.onActionMethodID($event)' svy-focusgained='handlers.onFocusGainedMethodID($event)' svy-focuslost='handlers.onFocusLostMethodID($event)' ng-disabled="isDisabled()" class="btn btn-default spinner-button-down" type="button">
        <i class="glyphicon glyphicon-chevron-down"></i></button>
    </div>
  </div>
</div>