input-append{display:inline-block;vertical-align:middle;font-size:0;white-space:nowrap;}
.input-append input{margin-bottom:0;*margin-left:0;vertical-align:top;-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;display:inline-block;width:auto;}

.spinner-input{width:90% !important;position:absolute !important;top:0 !important;bottom:0 !important;height:100%;}
.spinner-buttons{width: 10%;display: inline-block;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: absolute;top:0;bottom:0;right:0}
.spinner-buttons button{width:100%;height: 50%;position: absolute;right: 0;padding:0;line-height: 100%;border-left:0;}
.spinner-button-up{top:0; border-radius: 0px 3px 0px 0px; border-bottom: 0;}
.spinner-button-down{bottom:0; border-radius: 0px 0px 3px 0px;}
.spinner-xx-small-icons{font-size: 8px; top: -3px;}