<input sablo-tabseq='model.tabSeq'
	   svy-selectonenter='model.selectOnEnter'
	   svy-focusgained='handlers.onFocusGainedMethodID($event)'
	   svy-focuslost='handlers.onFocusLostMethodID($event)'
	   svy-enter='handlers.onActionMethodID($event)'
	   ng-click="onClick($event)"
	   svy-rightclick='handlers.onRightClickMethodID($event)'
	   type="text" 
	   class='svy-typeahead form-control input-sm svy-padding-xs'
 	   style="width:100%; height:100%; overflow:hidden"
       ng-model="value" 
       typeahead-min-length="0"
       typeahead-wait-ms="500"
       typeahead-append-to-body="true"
       uib-typeahead="value.displayValue  | formatFilter:model.format.display:model.format.type
       			  for value in model.valuelistID.filterList($viewValue)"
	   typeahead-on-select="doSelect($item, $model, $label, $event)"
	   typeahead-on-focus="canShowValues()"
       ng-blur="doSvyApply()" id="{{::model.svyMarkupId}}"
       ng-focus="startEdit()"/>
