<input style="width:100%;height:100%;overflow:hidden"
	   class='svy-textfield svy-field form-control input-sm svy-padding-xs'
	   type="text"  
	   id="{{::model.svyMarkupId}}"
	   ng-model="model.dataProviderID" 
	   sablo-tabseq='model.tabSeq'
	   svy-autoapply
	   svy-focusgained='handlers.onFocusGainedMethodID($event)'
	   svy-focuslost='handlers.onFocusLostMethodID($event)'
	   svy-enter='handlers.onActionMethodID($event)'
	   ng-click="onClick($event)"
	   svy-rightclick='handlers.onRightClickMethodID($event)'/>
       
