.svyPortalGridStyle {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

.ui-grid-row-selected > div > div.ui-grid-cell {
  background-color: #c9dde1 !important;
}