.ng-invalid {
	background-color: #f90000;
}

.svy-padding-xs {
	padding: 1px 5px;
}

input[type=date] {
	line-height: normal;
}

#mktipmsg {
	display: none;
	position: absolute;
}

.ngVerticalBarVisible {
	width: 0px!important;/*override value from ng-grid css*/	
}

/*align labels for radios and check groups with input element*/
label.svy-check-radio{
	display:block;
}
label.svy-check-radio input{
    vertical-align:middle;
    margin:0px;
}

label.svy-check-radio span{
	vertical-align: middle;
}


/*BOOTSTRAP WINDOW CUSTOMIZATION*/
.window .window-body,
.window .window-header,
.window .window-footer{
	overflow: auto;
	padding:5px;
	border:none;
	margin:0px;
}
.window .window-header{
	cursor:inherit;
}
.window .window-body{
	min-width:0px;
	min-height:0px;
}
.window .window-header .window-title
{
    cursor: move;
}
.window{
	-webkit-transform: translate3d(0,0,0); /*TRICK* new layer is created not needing repaints on the layer below it */
	transform: translate3d(0,0,0);
	min-width:0px;
	min-height:0px;
	max-width :5000px;
	max-height:5000px;
}

.login-window .modal-dialog {
	width: 300px;
}

.inherited_element
{
	border: 1px dotted red;
}


/* Side notes for calling out things (bs-callout from documentation)
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
	margin: 20px 0;
	padding: 15px 30px 15px 15px;
	border-left: 5px solid #eee;
}
.bs-callout h1,
.bs-callout h2,
.bs-callout h3,
.bs-callout h4,
.bs-callout h5,
.bs-callout h6 {
	margin-top: 0;
}

.bs-callout-danger h1,
.bs-callout-danger h2,
.bs-callout-danger h3,
.bs-callout-danger h4,
.bs-callout-danger h5,
.bs-callout-danger h6 {
	color: #B94A48;
}

.bs-callout-warning h1,
.bs-callout-warning h2,
.bs-callout-warning h3,
.bs-callout-warning h4,
.bs-callout-warning h5,
.bs-callout-warning h6 {
	color: #C09853;
}

.bs-callout-info h1,
.bs-callout-info h2,
.bs-callout-info h3,
.bs-callout-info h4,
.bs-callout-info h5,
.bs-callout-info h6 {
	color: #3A87AD;
}

.bs-callout-success h1,
.bs-callout-success h2,
.bs-callout-success h3,
.bs-callout-success h4,
.bs-callout-success h5,
.bs-callout-success h6 {
	color: #3C763D;
}

.bs-callout p:last-child {
	margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
	background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
	background-color: #fcf2f2;
	border-color: #dFb5b4;
}
.bs-callout-warning {
	background-color: #fefbed;
	border-color: #f1e7bc;
}
.bs-callout-info {
	background-color: #f0f7fd;
	border-color: #d0e3f0;
}
.bs-callout-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.ui-grid-row .ui-grid-cell {
 position:relative;
}
.ui-grid-render-container {
 position:inherit;	
}