.svy-padding-xs {
	padding: 1px 5px;
}

input[type=date] {
	line-height: normal;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 1024px; 
    height: 600px;
}

#mktipmsg {
	display: none;
	position: absolute;
}
/*align labels for radios and check groups with input element*/
label.svy-check-radio{
	display:block;
}
label.svy-check-radio input{
    vertical-align:middle;
    margin:0px;
}

label.svy-check-radio span{
	vertical-align: middle;
}
