.svy-padding-xs {
	padding: 1px 5px;
}

input[type=date] {
	line-height: normal;
}

#mktipmsg {
	display: none;
	position: absolute;
}

.ngVerticalBarVisible {
	width: 0px!important;/*override value from ng-grid css*/	
}

/*align labels for radios and check groups with input element*/
label.svy-check-radio{
	display:block;
}
label.svy-check-radio input{
    vertical-align:middle;
    margin:0px;
}

label.svy-check-radio span{
	vertical-align: middle;
}


/*BOOTSTRAP WINDOW CUSTOMIZATION*/
.window .window-body,
.window .window-header,
.window .window-footer{
	overflow: auto;
	padding:5px;
	border:none;
	margin:0px;
}
.window .window-header{
	cursor:inherit;
}
.window .window-body{
	min-width:0px;
	min-height:0px;
}
.window .window-header .window-title
{
    cursor: move;
}
.window{
	-webkit-transform: translate3d(0,0,0); /*TRICK* new layer is created not needing repaints on the layer below it */
	transform: translate3d(0,0,0);
	min-width:0px;
	min-height:0px;
	max-width :5000px;
	max-height:5000px;
}