.svy-padding-xs {
	padding: 1px 5px;
}

input[type=date] {
	line-height: normal;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 1024px; 
    height: 600px;
}

#mktipmsg {
	padding: 2px;
	background-color: #FFFFE1;
	border: 1px solid #000000;
	font-family: arial, helvetica, tahoma, sans-serif;
	font-size: 11px;
	color: #000000;
	display: none;
	position: absolute;
	left:0px;
	top:0px;
}