.select2-container-svy-xs {
    height: 100%;
	vertical-align: baseline;
}

.select2-container-svy-xs .select2-choice .select2-arrow b {
	background: url('lib/select2-3.4.5/select2.png') no-repeat scroll 0px -3px transparent;
}

.select2-container-svy-xs .select2-choice > .select2-chosen {
    line-height: normal;
}

.select2-container-svy-xs .select2-choice {
    height: 100%;
}