.panel-body {
	padding: 0px;
}

/*
	responsive forms inside absolute form container should have height 100%
*/
.svy-wrapper > * > div > div > .svy-tabpanel > .tab-content > .tab-pane  > div > svy-formload > .svy-respform
{
	height: 100%;
}

.svy-wrapper > * > div > div > .svy-tablesspanel > svy-formload > .svy-respform
{
	height: 100%;
}


.relativeMaxSize {
    position:relative;
  	overflow:hidden;
  	height:100%;
  	width:100%;
}

.absoluteTopRight {
	position:absolute;
	top:0px;
	right:0px;	
}

ul.nav-tabs {
    position:relative;
    left:0px;
    top:0px;
  	min-width:3000px;
  	margin-left:12px;
    margin-top:0px;
}

ul.nav-tabs li{
	display:table-cell;
    position:relative;
    text-align:center;
    cursor:grab;
    cursor:-webkit-grab;
    color:#efefef;
    vertical-align:middle;
}

.nav-scroller {
  text-align:center;
  cursor:pointer;
  display:block;
  padding:3px;
  padding-top:13px;
  white-space:nowrap;
  vertical-align:middle;
  background-color:#fff;
}

.nav-scroller-right{
  float:right;
}

.nav-scroller-left {
  float:right;
}