.dbtreeview {
	overflow: auto;
	width: 100%;
	height: 100%
}
.dbtreeview ul.fancytree-container {
	min-height: 100%;
	border: none;
}

.dbtreeview ul.fancytree-container.fancytree-treefocus:focus {
  outline: none;
}

.dbtreeview span.fancytree-active span.fancytree-title {
  background-color: transparent;
  border-color: transparent;
}

.dbtreeview span.fancytree-selected span.fancytree-title {
  background-color: transparent;
  border-color: transparent;
}

/*
.dbtreeview span.fancytree-node:hover span.fancytree-title {
  background-color: transparent;
  border-color: transparent;
}
*/

.dbtreeview .fancytree-container.fancytree-treefocus span.fancytree-active span.fancytree-title {
  background-color: transparent;
  border-color: transparent;
}

.dbtreeview .fancytree-container.fancytree-treefocus span.fancytree-selected span.fancytree-title {
  background-color: transparent;
  border-color: transparent;
}