.svyPortalGridStyle {
    position: inherit;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    overflow: hidden;
}

.ui-grid-row-selected div.ui-grid-cell {
  background-color: #c9dde1 !important;
}

div.ui-grid-cell input.ng-valid {
	border-width: 0px 0px 0px 0px;
}

.ui-grid-row .ui-grid-cell {
 position:relative;
 border-width: 0px 0px 0px 0px;
}

.ui-grid-viewport {
  overflow-anchor: none;
}
