<div sablo-tabseq='model.tabSeq'
	 style='width:100%; height:100%; overflow: auto; text-align: center;'
	 class='svy-mediafield'
	 svy-click='handlers.onActionMethodID($event)'
	 svy-rightclick='handlers.onRightClickMethodID($event)'
	 id="{{::model.svyMarkupId}}">
	<img ng-show="model.enabled == true && model.editable == true" style="top: 1px;left: 1px;position: absolute;cursor: pointer;background-color: gray;z-index: 1;width: 16px; height: 16px;" border="0" src="servoydefault/imagemedia/res/images/save.gif" alt="Save media" title="Save media" ng-click="download()">
	<img ng-show="model.enabled == true && model.editable == true" style="top: 1px;position: absolute;cursor: pointer;background-color: gray;z-index: 1;left: 17px;width: 16px; height: 16px;" border="0" src="servoydefault/imagemedia/res/images/open_project.gif" alt="Load media" title="Load media" svy-fileupload="model.dataProviderID">
	<img ng-show="model.enabled == true && model.editable == true" style="top: 1px;position: absolute;cursor: pointer;background-color: gray;z-index: 1;left: 33px;width: 16px; height: 16px;" border="0" src="servoydefault/imagemedia/res/images/delete.gif" alt="Remove media" title="Remove media" ng-click="clear()">	
	<img ng-src='{{imageURL}}' style='max-width:100%; max-height:100%;'>
</div>