<div svy-border='model.borderType'
	 svy-background='model.background'
	 svy-foreground='model.foreground'
	 svy-scrollbars='model.scrollbars'
	 svy-margin='model.margin'
     ng-style="style" svy-tooltip="{{model.toolTipText}}" >
  <div ng-repeat="item in  model.valuelistID  | filter:notNull('realValue')">
     <input 
          type="checkbox" ng-model="selection[$index]"  ng-value="item.realValue" ng-click="checkBoxClicked($index)" ng-disabled="model.enabled == false"/> {{item.displayValue}}
  </div>
</div>
    