<div svy-border='model.borderType'
	 svy-background='model.transparent ? "transparent" : model.background'
	 svy-foreground='model.foreground'
	 svy-scrollbars='model.scrollbars'
	 svy-margin='model.margin'
	 ng-class='model.styleClass ? model.styleClass : "form-control input-sm svy-padding-xs"'
	 svy-font='model.fontType'
     ng-style="style" svy-tooltip='model.toolTipText' >
  <label class='svy-check-radio-group'
  		 ng-repeat="item in  model.valuelistID  | filter:notNull('realValue')"
  		 ng-click="checkBoxClicked($index)">
     <input type="checkbox" ng-model="selection[$index]"  ng-value="item.realValue" 
           ng-disabled="model.enabled == false" 
          ng-readonly="model.editable == false" svy-tabseq='model.tabSeq'
           />
     <span ng-bind='item.displayValue'></span>
  </label>
</div>
    