<div bindonce bo-class="{'window':!isUndecorated()}" 
			  bo-style="{'background-color':win.transparent ? 'transparent':'inherit'}" >
	<div bo-style="{'opacity':win.opacity}">
		<div  class='window-header'
			  bo-style="{'display':isUndecorated()? 'none':'block'}">
			<button type="button" class="close"
				ng-click="cancel()"
			    data-dismiss="window" 
				aria-hidden="true">x</button>
			<h4 class="window-title"  ng-bind='win.title'></h4>
		</div>	
	    <div class="window-body"  ng-include="getFormUrl()" 
	    	 bo-style="getSize()"></div>    
		<div class="window-footer"
			 bo-style="{'display':isUndecorated()? 'none':'block'}"></div>
	</div>
</div>