	<div class="svy-dialog" svy-window sablo-tabseq='1' sablo-tabseq-config="{container: true}"  bindonce bo-class="{'window':!isUndecorated()}" 
				  bo-style="{'background-color':win.transparent ? 'transparent':'inherit'}" >
		<div bo-style="{'opacity':win.opacity}">
			<div  class='window-header'
				  bo-style="{'display':isUndecorated()? 'none':'block'}">
				<button type="button" class="svy-dialog-close"
					ng-click="cancel()"
					aria-hidden="true" tabindex="-1">x</button>
				<h4 class="window-title"  ng-bind='win.title'></h4>
			</div>	
		    <div class="window-body" 
		    	 bo-style="getBodySize()">
		    	 <div ng-if="win.navigatorForm.name" ng-style="{'width':win.navigatorForm.size.width+'px'}"
					  ng-include="getNavigatorFormUrl()"></div>
				 <div id="tabStart" sablo-tabseq='1' ng-focus="firstElementFocused()"></div>
		    	 <div sablo-tabseq='2' sablo-tabseq-config="{container: true}" ng-include="getFormUrl()"  
		    	      ng-style="{'display':shouldDisplay,'position':'absolute','top':'0px','right':'0px','bottom':'0px','left':win.navigatorForm.size.width+'px'}" ></div>
				 <div id="tabStop" sablo-tabseq='3' ng-focus="lastElementFocused()"></div>	    	 
		    </div>    
			<div class="window-footer"
				 bo-style="{'display':isUndecorated()? 'none':'block'}"></div>
		</div>
	</div>