<!-- <div class=" panel panel-default"> -->
  	<div class=" modal-header">
  		<img src="templates/logo2.gif" class="img-responsive">
 	</div>
  	<div class="modal-body">
  	    <h3 class="svy-login-title">Please sign in</h3>
  		<h5 class="svy-login-text-danger">{{model.message}}</h5>
    	<form   accept-charset="UTF-8" role="form" ng-submit="doLogin()">
		<fieldset class="svy-login-fieldset">
    	  	<div class="svy-login-form-group">
    		    <input class="svy-login-form-control" placeholder="Username" type="text" ng-model="model.username" autocomplete="username">
    		</div>
    		<div class="svy-login-form-group">
    			<input class="svy-login-form-control" placeholder="Password" type="password" ng-model="model.password"  autocomplete="current-password">
    		</div>
    		<div class="checkbox">
    	    	<label>
    	    		<input name="remember" type="checkbox" value="Remember Me" ng-model="model.remember"> Remember me
    	    	</label>
    	    </div>
    		<input class="svy-btn svy-btn-success svy-btn-block" type="submit" value="Login">
    	</fieldset>
      	</form>
    </div>
<!-- </div> -->