<div style="width:100%;height:100%" 
	 class='svy-radiogroup input-sm svy-padding-xs'
	 id="{{::model.svyMarkupId}}">
  <label class='svy-check-radio'
         ng-repeat="item in model.valuelistID | filter:notNullOrEmpty('realValue')">
         <input type="radio" ng-model="model.dataProviderID"  
           ng-value="item.realValue"  
	       ng-click="radioClicked($event)"  
	       ng-disabled="model.enabled == false || model.editable == false" 
	       sablo-tabseq='model.tabSeq'
	       svy-click='handlers.onActionMethodID($event)'
	       svy-focusgained='handlers.onFocusGainedMethodID($event)'
	      />
	     <span ng-bind='item.displayValue' ></span>
  </label>
</div>
