<div svy-border='model.borderType' ng-style="style" 
	 svy-background='model.transparent ? "transparent" : model.background'
	 svy-foreground='model.foreground'
	 svy-scrollbars='model.scrollbars'
	 svy-margin='model.margin'
	 svy-tooltip="{{model.toolTipText}}" >
  <div ng-repeat="item in model.valuelistID | filter:notNull('realValue')"  svy-tooltip="{{model.toolTipText}}">
     <input 
          type="radio" ng-model="model.dataProviderID"  ng-value="item.realValue"  
          ng-change="handlers.svy_apply('dataProviderID')" ng-disabled="model.enabled == false"/> {{item.displayValue}}
  </div>
</div>