.svy-nav-container {margin:15px 10px 10px 10px;position:relative;}
.svy-nav-slider {width:15%;}
.svy-nav-input {width:80%;position:absolute;left:40%;top:50%;}
.svy-nav-min-val {width:100%;position:absolute;left:40%;top:5%;font-style: normal;text-align: center;}
.svy-nav-separator {width:100%;position:absolute;left:40%;top:17%;font-style: normal;text-align: center;}
.svy-nav-max-val {width:100%;position:absolute;left:40%;top:30%;font-style: normal;text-align: center;}