<div class="tablewrapper" ng-if='model.visible'>
	<table ng-style="getTableStyle()" class='svy-table' ng-class="model.styleClass" sablo-tabseq='model.tabSeq' ng-keydown="keyPressed($event)" ng-click="tableClicked($event,1)" svy-rightclick="tableRightClick($event)">
	   <thead>
	  	<tr>
	    	<th ng-style="getColumnStyle(model.columns.indexOf(column))" ng-class="column.headerStyleClass" ng-repeat="column in model.columns" svy-click="headerClicked(model.columns.indexOf(column))"><div ng-bind='column.headerText'></div></th>
		</tr>	   
	   </thead>
	   <tbody>	   
	  <tr ng-repeat="row in model.foundset.viewPort.rows"
	  	  ng-class='getRowStyle(model.foundset.viewPort.rows.indexOf(row))' on-finish-render-rows="ngRowsRenderRepeatFinished">
	    <td model-in-data="{row:row,column:column}" ng-class="column.styleClass + ' ' + column.styleClassDataprovider[model.foundset.viewPort.rows.indexOf(row)]" ng-repeat="column in model.columns" >
	    	<img ng-show="getUrl(column,row) != null" 
	    		ng-src="{{getUrl(column,row)}}"></img>
	    	<div ng-bind='column.dataprovider[model.foundset.viewPort.rows.indexOf(row)]| getDisplayValue:column.valuelist | formatFilter:column.format.display:column.format.type'
	    	ng-show="getUrl(column,row) === null">
	    	</div></td>
	  </tr>
	  </tbody>
	</table>
	<ul class="svy-pagination pagination svy-nomargin" ng-if="showPagination()">
	  <li ng-class="model.currentPage == 1 ? 'disabled' : ''"><a href="#" ng-click="modifyPage(-1)" tabindex="-1">&laquo;</a></li>
	  <li class="disabled"><a href="#" tabindex="-1">{{model.currentPage}}</a></li>
	  <li ng-class="hasNext() ? '' : 'disabled'"><a href="#" ng-click="modifyPage(1)" tabindex="-1">&raquo;</a></li>
	</ul>
</div>
<div ng-class='model.styleClass' ng-if='model.visible && (!model.columns || model.columns.length == 0)'>
	  <label>
	  	 <span>Drop table columns from palette</span>
	  </label>
</div>
