div.wicket-aa-container { 
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
} 
div.wicket-aa ul { list-style:none; padding: 2px; margin:0; }
div.wicket-aa ul li.selected { background-color: #FFFF00; padding: 2px; margin:0; }