<label class='svy-check-radio svy-radio input-sm'
	 ng-click="radioClicked()" 
     style="width:100%; height:100%">
  <input type="radio"
	     ng-model="model.dataProviderID"
	     ng-value="model.valuelistID[0].realValue"
		 id="{{::model.svyMarkupId}}"
		 sablo-tabseq='model.tabSeq'
		 svy-click='handlers.onActionMethodID($event)'
     	 svy-focusgained='handlers.onFocusGainedMethodID($event)'
     	 svy-focuslost='handlers.onFocusLostMethodID($event)'
		/>
  <span ng-bind="model.text"/>
</label>
